.footerSignin {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem auto;
  align-items: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footerSignin > span {
  margin-top: 1rem;
  font-size: 13px;
}

.footerSignin > button {
  width: 200px;
  margin-top: 5px;
  background-color: #f6c955;
  border: none;
  outline: none;
  padding: 5px;
  border: 1px solid #f2b10d;
  cursor: pointer;
}

.footerSignin > p {
  margin-top: 5px;
  font-size: 11px;
}

.footerSignin > p > a {
  text-decoration: none;
  color: #0ba6da;
  font-weight: 400;
  margin-left: 3px;
}
